
body {
    background: #fff;
    color: #333;
    font-family: Lato, sans-serif;
}

/* Page Heafer */

.header {
    background-color: #80727b;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    width: 100%;
    position: absolute; top: 0; left: 0;
    height: 10%;
    font-size: 25px;
    padding: 10px 0;
    margin-bottom: 50px;
}

/* Pahe Headings */

.large-heading {
    font-size: 40px;
    text-align: center;
    font-weight: 400;
}

.smaller-heading {
    font-size: 32px;
    font-weight: 30;
    text-align: center;
}

/* Section Divider */

hr {
    position: relative;
    border: none;
    height: 2px;
    width: 550px;
    background: #d3d3d3;
    margin-bottom: 50px;
}

/* Section Containers */

.container {
    display: block;
    width: 800px;
    margin: auto auto 0;
}

.inner-container {
    display: block;
    width: 500px;
    margin: auto auto 0;
}

.section-padding {
    padding-top: 100px;;
}

/* Form Styling */

.form-div {
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 40px;
}

input[type=text], select, textarea, input[type=date], input[type=number] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-family: Lato, sans-serif;
    font-size: 18px;
}

label {
    padding: 20px 12px 12px 0;
    display: inline-block;
    font-size: 20px;
}
  
input[type=submit]:hover {
    background-color: #45a049;
}

.submit-button {
    font-family: Lato, sans-serif;
    margin-top: 20px;
    background-color: #32cd32;
    color: #fff;
    border-radius: 30px;
    border-width: 0ch;
    width: 40%;
    height: 50px;
    font-size: 24px;
    font-weight: bolder
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Entries List Table Styling */

#entries-list {
    list-style-type: none;
    font-family: Lato, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#entries-list td, #customers th {
    padding: 8px;
  }

/*
#entries-list tr:nth-child(even){
    background-color: #f2f2f2;
}

#entries-list tr:hover {
    background-color: #ddd;
}
*/

#entries-list th {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}

td {
    text-align: center;
}

#entries-list tr {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/* Removing underline from anchor tag */

a {
    text-decoration: none;
}

/* Making the entries list scrollable */

div.scroll {
    margin:4px, 4px;
    padding:4px;
    width: 500px;
    height: 330px;
    overflow: auto;
    text-align:justify;
}

/* Responsive Styling */

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-50-left {
    float: left;
    width: 40%;
    padding-left: 100px;
    padding-bottom: 50px;
    margin-top: 6px;
}

.col-50-right {
    float: right;
    width: 40%;
    padding-right: 100px;
    padding-bottom: 50px;
    margin-top: 6px;
}
  
.col-75 {
    float: right;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}





