<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>12.5% calculator</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <section>
            <div class="row header">
                <div class="col-12">
                    <h1>Welcome to 12.5% Calculator</h1>
                </div>
            </div>
        </section>
        <div class="container section-padding">
            <h1 class="large-heading">Total Outstanding = <span id="outstandingTotal"></span></h1>
            <div class="settle-box">
                <div style="flex-basis: 100px;" class="col-2">
                    <h2 class="settle-heading">Settle Balance</h2>
                </div>
                <div style="flex-basis: 300px;" class="col-8">
                    <input id="settleup" type="number" placeholder="Enter Amount to Settle">
                </div>
                <div style="flex-basis: 200px;" class="col-2">
                    <button class="settle-button" id="settle" type="button">Settle</button>
                </div>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-6">
                <h2 class="smaller-heading">Add a new entry</h2>
                <div class="form-div">
                    <form>
                        <div class="row">
                            <div class="col-3">
                                <label for="date">Date</label>
                            </div>
                            <div class="col-9">
                                <input id="date" type="date" placeholder="yyyy-mm-dd">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="amount">Amount</label>
                            </div>
                            <div class="col-9">
                                <input id="amount" type="number" inputmode="numeric" pattern="(\d{3})([\.])(\d{2})" placeholder="Enter amount">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <label for="source">Source</label>
                            </div>
                            <div class="col-9">
                                <input id="source" type="text" placeholder="Enter source">
                            </div>
                        </div>
                        <div class="row, center">
                            <button id="submit" type="button" class="submit-button">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-6">
                <h3 class="smaller-heading">Previous Entries</h3>
                <div class="scroll">
                    <table id="entries-list">
                        <tr>
                            <th>Date</th>
                            <th>Source</th>
                            <th>Entered<br>Amount</th>
                            <th>Calculated<br>Amount</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
    <script src="/js/app.js"></script>
</html>
